@using BlogProjectDotNET_9.Helper
@model IEnumerable<Post>;
@{
    ViewData["Title"] = "Blog Posts";
}

<div class="text-center mt-3 mb-3">
    @if (ViewBag.Categories != null)
    {
        @foreach (var category in ViewBag.Categories)
        {
            <a asp-controller="Post" asp-action="Index" asp-route-categoryID="@category.Id"
                class="badge bg-warning text-decoration-none ms-2">@category.Name</a>
        }
    }
</div>
@if (User.IsInRole("Author"))
{
    <div class="text-end my-3">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Post"> Create New Post</a>
    </div>
}

<div class="row row-cols-3 g-4">
    @foreach (var post in Model)
    {
        <div class="col">

            <div class="card h-100 border-0 shadow-lg rounded-1">
                <img src="@post.FeatureImagePath" alt="@post.Title" class="card-img-top"
                    style="height:300px; object-fit:cover" />
                <div class="card-body">
                    <h1 class="card-title">@post.Title</h1>
                    <p class="text-muted mb-2 ">Published on @post.PublishedDate.ToString("MMM,dd,yyyy")</p>
                    <span class="badge bg-secondary">@post.Category?.Name</span>
                    @{
                        var content = RemoveHtmlTagHelper.RemoveHtmlTags(post.Content);
                        var shortContent = content.Length > 100 ? content.Substring(0, 100) + "..." : content;
                    }
                    <p class="card-text">@shortContent</p>

                </div>

                <div class="card-footer d-flex justify-content-between align-content-center">
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-controller="Post" asp-route-id="@post.Id"> Read More ..</a>
                    <div class="text-end">
                        <div class="text-muted">
                            By @post.Author
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>